{% extends 'base.html' %} 
{% block content %} 
<h1>Events </h1>
<br/>
<br/>
<!-- {{ event_list }} -->
<!-- <ul>
    {% for event in event_list %}
        <li>{{ event }}</li>

    {% endfor %}

</ul> -->
<ul>
    {% for event in event_list %}
       <strong>{{ event }}</strong> 
       <ul>
           <li>Date: {{ event.event_date }}</li>
           <li>Venue: {{ event.venue }}</li>
           <li>Venue Website: {{ event.venue.web }}</li>
           <li>Manager: {{ event.manager }}</li>
           <li>Description: {{ event.description }}</li>

           {% for user in event.attendees.all %}
           <li>Attendees: {{ user }}</li>
           {% endfor %}

       </ul>
    {% endfor %}
</ul>
{%  endblock %}




